{% extends 'base.html.twig' %}



{% block title %}Choose Your Shoes - Homme !{% endblock %}

{% block body %}
<div class="container-fluid p-0 m-0">
  <div class="w-100 p-0 m-0">
		<img class="ml-5" id="#" src='/photos/headHomme.png' alt="" width="100%" >
	</div>
</div>

<div class="container-fluid xl mt-5 mb-5 gap-5 row d-flex justify-content-center flex-wrap align-items-center">

	<div class="card" style="width: 20rem;">
		<img class="card-img-top mb-3" src="photos/BG_Hero_OK.png" alt="Card image cap" style="width:87%">
		<div class="card-body">
			<h5 class="card-title">Jordan I Dior</h5>
			<p class="card-text">Chaussures Mixtes
				<br>
				Ce modèle est né de la colabaration entre Jordan et Dior</p>
			<h6>2450,00$</h6>
			<a href="#" class="btn btn-primary mt-3">Ajouter au panier</a>
		</div>
	</div>
	<div class="card" style="width: 20rem;">
		<img class="card-img-top mt-1" src="photos/air-jordan-4-retro-off-white-sail-838103-1.png" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Jordan IV Dior</h5>
			<p class="card-text">Chaussures Mixtes
				<br>
				Ce modèle est né de la colabaration entre Jordan et Dior</p>
			<h6>2450,00$</h6>
			<a href="#" class="btn btn-primary mt-3">Ajouter au panier</a>
		</div>
	</div>
  <div class="card" style="width: 20rem;">
		<img class="card-img-top" src="photos/air-jordan-4-retro-off-white-sail-838103-1.png" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Jordan IV Dior</h5>
			<p class="card-text">Chaussures Mixtes
				<br>
				Ce modèle est né de la colabaration entre Jordan et Dior</p>
			<h6>2450,00$</h6>
			<a href="#" class="btn btn-primary mt-3">Ajouter au panier</a>
		</div>
	</div>
</div>
<div class="container-fluid xl mb-5 gap-5 row d-flex justify-content-center flex-wrap align-items-center">
	<div class="card" style="width: 20rem;">
		<img class="card-img-top" src="photos/air-jordan-4-retro-off-white-sail-838103-1.png" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Jordan IV Dior</h5>
			<p class="card-text">Chaussures Mixtes
				<br>
				Ce modèle est né de la colabaration entre Jordan et Dior</p>
			<h6>2450,00$</h6>
			<a href="#" class="btn btn-primary mt-3">Ajouter au panier</a>
		</div>
	</div>
	<div class="card" style="width: 20rem;">
		<img class="card-img-top" src="photos/air-jordan-4-retro-off-white-sail-838103-1.png" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Jordan IV Dior</h5>
			<p class="card-text">Chaussures Mixtes
				<br>
				Ce modèle est né de la colabaration entre Jordan et Dior</p>
			<h6>2450,00$</h6>
			<a href="#" class="btn btn-primary mt-3">Ajouter au panier</a>
		</div>
	</div>
  <div class="card" style="width: 20rem;">
		<img class="card-img-top" src="photos/air-jordan-4-retro-off-white-sail-838103-1.png" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Jordan IV Dior</h5>
			<p class="card-text">Chaussures Mixtes
				<br>
				Ce modèle est né de la colabaration entre Jordan et Dior</p>
			<h6>2450,00$</h6>
			<a href="#" class="btn btn-primary mt-3">Ajouter au panier</a>
		</div>
	</div>
</div>
{% include 'footer/_footer.html.twig' %}
{% endblock %}

