<div class="container-fluid w-100 mb-5 flex-end row">
	<div class="w-50">
		<img class="ml-5" id="photoHero" src='/photos/BG_Hero_OK.png' alt="PhotoHero" width="166%">
	</div>
	<div class="logoBG w-50">
		<img src="{{ asset('/logo/logo_transparent_background.png') }}" alt="logo" width="90%">
	</div>
</div>
