{% extends 'base.html.twig' %}

{% block title %}C.G.U
{% endblock %}

{% block body %}

	{# creer un container fluid #}
	<div class="container">
		<div class="row mt-5" style="text-align: justify;">
			<div class="col-12">
				<h1>Conditions générales d'utilisation</h1>
				<p>
					CONDITIONS D'UTILISATION DE NIKE
					Date de la dernière révision : juin 2022
					
					VEUILLEZ LIRE ATTENTIVEMENT CES CONDITIONS D'UTILISATION (« CONDITIONS ») AVANT D'UTILISER UNE PLATEFORME NIKE.
					
					Si vous résidez dans l'un des pays ou régions suivants, des conditions supplémentaires peuvent s'appliquer à vous et sont consultables au bas des présentes Conditions. Nous affichons le pays/la région dans les Conditions, le cas échéant. Ces conditions supplémentaires remplacent les conditions ci-dessous dans la mesure de toute incohérence.
					
					Argentine , Australie , Brésil , Canada ,  Colombie , Hong Kong ,  Japon , Corée , Philippines , tous les pays européens (y compris les termes spécifiques pour l'Autriche , la Belgique , la France , l'Allemagne , la Hongrie , l'Italie , la Pologne et la Suisse) .
					
					Bienvenue dans la communauté NIKE ! Vous lisez ces Conditions parce que vous utilisez un site Web NIKE, une expérience numérique, une plateforme de médias sociaux, une application mobile, une technologie portable ou l'un de nos autres produits ou services, qui font tous partie de la Plateforme de NIKE (« Plateforme »). Vous pouvez accéder à la Plateforme via un ordinateur, un téléphone mobile, une tablette, une console ou toute autre technologie, que nous appelons ici un « Appareil ». Les tarifs et frais normaux de votre fournisseur de services s'appliquent à votre appareil.
					
					Ces Conditions créent un accord juridiquement contraignant entre vous et NIKE et ses sociétés affiliées (que nous pouvons appeler « NIKE », « nous », « notre » ou « notre ») concernant votre utilisation de la Plateforme. Veuillez consulter notre liste des entités locales pour connaître le nom de l'entité NIKE responsable de vous fournir la plateforme et les coordonnées appropriées. Quelques points importants :
					
					Nos conditions peuvent changer. Certaines juridictions n'autorisent pas les mises à jour ou les modifications unilatérales des conditions de consommation. Ce paragraphe peut donc ne pas s'appliquer à vous. [Voir les conditions au Canada .] Nous pouvons mettre à jour ces conditions de temps à autre. Si un changement important est apporté, nous publierons un avis sur la Plateforme ou vous enverrons une notification. Lisez toutes les modifications et si vous ne les acceptez pas, veuillez cesser d'utiliser la plateforme. Si vous continuez à utiliser notre Plateforme après que nous vous ayons informé des modifications, vous serez réputé avoir accepté les Conditions mises à jour, sauf dans la mesure interdite par la loi applicable.
					Conditions de vente. En effectuant tout achat chez nous, vous acceptez également les conditions de vente applicables dans votre pays ou région. [Voir les termes hongrois .]
					Politique de confidentialité. Notre politique de confidentialité décrit la collecte et l'utilisation des informations personnelles sur la plateforme et s'applique à votre utilisation de la plateforme.
					Avis important pour les athlètes amateurs . Vous êtes responsable de vous assurer que votre participation à la Plateforme n’affecte pas votre éligibilité en tant qu’athlète amateur. Veuillez vérifier auprès de votre association de sport amateur les règles qui s'appliquent à vous. N IKE n'est pas responsable de votre utilisation de la Plateforme entraînant votre inéligibilité en tant qu'athlète amateur.
					1. RÈGLES DE BASE
					
					Admissibilité. Vous n'êtes autorisé à utiliser la Plateforme que si vous avez l'âge légal dans votre pays ou si vous avez le consentement de votre parent ou tuteur. Il peut y avoir certaines restrictions d'âge pour des services spécifiques de la Plateforme dans différents pays.
					
					Règles d'inscription. Lorsque vous créez un compte chez nous, les règles suivantes s'appliquent :
					
					Soyez vrai : fournissez des informations d’inscription précises et à jour.
					Soyez vous : gardez votre inscription personnelle. Ne vous inscrivez pas pour plus d'un compte NIKE, n'enregistrez pas un compte NIKE au nom de quelqu'un d'autre ou ne transférez pas votre compte.
					Soyez sécurisé : conservez votre nom d'utilisateur, votre mot de passe et vos autres informations de connexion en sécurité et ne permettez à personne d'autre d'utiliser votre compte.
					Soyez responsable : informez immédiatement NIKE de toute utilisation non autorisée de votre compte NIKE. Vous êtes responsable de tout ce qui se passe via votre compte NIKE – avec ou sans votre autorisation. DANS LA MESURE MAXIMALE AUTORISÉE PAR LA LOI APPLICABLE, NIKE N'EST PAS RESPONSABLE DE TOUTE PERTE OU ACTIVITÉ RÉSULTANT DE L'UTILISATION NON AUTORISÉE DE VOTRE COMPTE.
					2. PROPRIÉTÉ DU CONTENU
					
					À l'exception du Contenu utilisateur (défini ci-dessous), tout le contenu de notre Plateforme – y compris les textes, logiciels, scripts, codes, conceptions, graphiques, photos, sons, musique, vidéos, applications, fonctionnalités interactives, articles, actualités, croquis, les animations, les autocollants, les illustrations générales et tout autre contenu (« Contenu ») – sont la propriété de NIKE ou de tiers pour lesquels nous accordons une licence sur le contenu et sont protégés par le droit d'auteur, les marques commerciales, les brevets et d'autres lois. NIKE se réserve tous les droits non expressément décrits dans les présentes Conditions.
					
					Toutes les marques commerciales, marques de service et noms commerciaux (par exemple le nom NIKE et le dessin Swoosh) sont la propriété, enregistrés et/ou sous licence de NIKE. Vous n'acquérez pas de licence ni de droits de propriété sur des marques commerciales, des marques de service ou des noms commerciaux par le biais de votre accès ou de votre utilisation de la Plateforme ou du Contenu.
					Vous acceptez de ne pas modifier ou supprimer les avis de propriété des documents téléchargés ou imprimés à partir de la Plateforme.
					Dans la mesure où NIKE approuve le téléchargement ou l'utilisation de contenu composé de droits d'auteur ou d'œuvres protégées par le droit d'auteur, NIKE vous accorde une licence limitée, personnelle, non transférable, ne pouvant faire l'objet d'une sous-licence et révocable pour accéder et utiliser ces droits d'auteur ou ces œuvres protégées par le droit d'auteur uniquement aux fins prévues. à cette fin et uniquement aussi longtemps que NIKE rend ce contenu généralement accessible au public. Vous n'acquérez aucun droit de propriété sur le contenu (y compris les marques commerciales ou autres propriétés intellectuelles incluses dans le contenu), et tout ce contenu est destiné à un usage personnel et non commercial. NIKE se réserve le droit de surveiller votre utilisation et de modifier ou de révoquer cette licence ou votre accès au Contenu à tout moment et pour quelque raison que ce soit. NIKE se réserve le droit de supprimer tout contenu en violation des présentes conditions ou des droits de propriété intellectuelle de NIKE. NIKE vous autorisant cette utilisation limitée ne constitue pas une renonciation à l'un quelconque des droits de Nike sur le Contenu.
					En dehors des droits d'utilisation spécifiques qui vous sont accordés par NIKE en relation avec la Plateforme, vous acceptez de ne pas utiliser, copier, éditer, traduire, afficher, distribuer, télécharger, transmettre, vendre, créer des œuvres dérivées ou exploiter de quelque manière que ce soit tout Contenu, y compris le Contenu utilisateur (sauf s'il s'agit de votre propre Contenu utilisateur que vous publiez légalement sur la Plateforme), sans le consentement écrit préalable de NIKE. L'utilisation non autorisée du contenu peut constituer une violation des droits d'auteur, des marques ou d'autres lois sur la propriété intellectuelle et peut vous exposer à des accusations et sanctions pénales ou civiles.
					3. PUBLICATION DE CONTENU SUR LA PLATEFORME
					
					Licence de contenu utilisateur. Certaines parties de la Plateforme vous permettent de publier des photos, des vidéos, des commentaires et d'autres contenus, que nous appelons « Contenu utilisateur ». Nike n'est pas responsable du contenu utilisateur que d'autres publient sur la plateforme. Le contenu utilisateur appartient à vous ou à celui qui l'a créé, mais lorsque vous publiez du contenu utilisateur, vous l'accordez sous licence à NIKE comme décrit ci-dessous :
					
					Vous déclarez que vous avez le droit de publier votre contenu utilisateur et vous accordez à NIKE une licence mondiale non exclusive, perpétuelle, transférable, sous-licenciable, libre de droits et mondiale pour utiliser tout contenu utilisateur que vous publiez sur ou en relation avec avec la Plateforme, y compris l'image de toute personne apparaissant dans le Contenu utilisateur, ou l'un des concepts ou idées contenus dans le Contenu utilisateur, à quelque fin que ce soit, y compris une utilisation commerciale, qui inclut le droit de traduire, d'afficher, de reproduire, de modifier , créer des œuvres dérivées, accorder des sous-licences, distribuer et céder ces droits. NIKE peut, à sa seule discrétion, supprimer tout contenu utilisateur à tout moment. [Voir les termes pour l'Argentine , la Colombie , la Belgique et les Philippines .]
					Vous comprenez que le Contenu utilisateur supprimé peut persister dans les systèmes de NIKE et sur la Plateforme dans la mesure où votre Contenu utilisateur a été publié publiquement ou partagé avec d'autres qui ne l'ont pas supprimé, à moins que vous ou la personne concernée ne demandiez la suppression ou le blocage des données personnelles conformément avec la loi applicable.
					LICENCE D'UTILISATION DES COMMENTAIRES, RÉTROACTIONS ET IDÉES . Vous comprenez que tous les commentaires, commentaires ou idées que vous nous envoyez sont fournis sur une base non confidentielle et vous accordez à NIKE une licence perpétuelle et mondiale pour utiliser tous les commentaires, commentaires et idées que vous pouvez partager avec nous, sans préavis, compensation ou reconnaissance. à vous, à quelque fin que ce soit, y compris, mais sans s'y limiter, le développement, la fabrication et la commercialisation de produits et services et la création, la modification ou l'amélioration de produits et services. [Voir les termes de la Colombie et de la Belgique.]
					
					4. CODE DE CONDUITE DE L'UTILISATEUR
					
					Nous sommes ravis de vous voir contribuer à la communauté NIKE. Voici quelques règles de base :
					
					Soit original. Publiez du contenu utilisateur sur la plateforme uniquement si vous disposez de toutes les autorisations et droits nécessaires pour rendre ce contenu utilisateur disponible, y compris auprès de toute personne qui apparaît ou est mentionnée dans votre contenu utilisateur.
					Fais attention.
					Ne faites rien qui puisse exposer NIKE ou ses utilisateurs à tout type de préjudice, y compris tout ce qui pourrait perturber, endommager, désactiver, altérer, surcharger ou limiter les fonctionnalités de la Plateforme.
					Ne publiez pas de contenu utilisateur contenant des virus logiciels, des programmes ou tout autre code informatique, et ne contournez ni ne modifiez aucun logiciel ou technologie de sécurité de la plateforme.
					N’utilisez pas d’exploration de données, de robots, de scraping ou de méthodes similaires de collecte de données.
					Sauf indication contraire de notre part, notre Plateforme est un lieu public. Ne publiez pas d’informations personnelles sur la Plateforme – les vôtres ou celles de quelqu’un d’autre.
					Soyez personnel.
					Ne publiez aucune publicité, sollicitation ou contenu commercial sur la Plateforme et n'acceptez pas de paiement d'un tiers en échange de l'exercice d'une activité commerciale sur la Plateforme.
					Ne collectez ni ne sollicitez d’informations personnelles auprès d’autres utilisateurs de la Plateforme et n’envoyez pas de messages non sollicités.
					N'utilisez pas de technologie automatisée pour interagir avec la Plateforme.
					Être approprié. Respectez la communauté et ne publiez pas de contenu utilisateur, ne créez pas de liens vers un site Web et ne faites rien qui soit illégal, trompeur, malveillant, harcelant, inexact, discriminatoire ou autrement répréhensible ou inapproprié ou qui viole les lois applicables. NIKE a le droit de présélectionner, de surveiller ou de supprimer le contenu utilisateur, mais nous n'avons aucune obligation de le faire.
					Sois toi-même. Ne vous faites pas passer pour une personne ou une organisation, y compris des athlètes ou des employés de NIKE.
					AMUSEZ-VOUS!
					5. VIOLATION DU DROIT D'AUTEUR
					
					Veuillez consulter votre conseiller juridique avant de déposer un avis auprès de nous, car des pénalités peuvent être imposées en cas de fausses déclarations. NIKE peut résilier les comptes des utilisateurs de la Plateforme qui enfreignent les droits d'auteur de tiers.
					
					Si vous pensez que votre travail a été copié de manière inappropriée sur la Plateforme, de telle sorte qu'il s'agit d'une contrefaçon, veuillez nous fournir les informations suivantes [Voir conditions France .] :
					
					(1) le nom, l'adresse, le numéro de téléphone, l'adresse e-mail et une signature électronique ou physique du titulaire du droit d'auteur ou de la personne autorisée à agir en son nom ;
					
					(2) une description de l'œuvre protégée par le droit d'auteur qui, selon vous, a été violée ;
					
					(3) une description de l'endroit où se trouve sur la Plateforme le contenu que vous prétendez violer ;
					
					(4) une déclaration écrite selon laquelle vous pensez de bonne foi que l'utilisation contestée n'est pas autorisée par le propriétaire des droits d'auteur, son agent ou la loi ; et
					
					(5) une déclaration de votre part, faite sous peine de parjure (selon la loi applicable), selon laquelle les informations ci-dessus dans votre avis sont exactes et que vous êtes le propriétaire des droits d'auteur ou autorisé à agir au nom du propriétaire des droits d'auteur.
					
					Envoyez les plaintes pour violation du droit d'auteur à :
					
					Département juridique (droit d'auteur)
					Un Bowerman Dr., Beaverton, OR 97005
					Téléphone : 503-671-6453
					Télécopieur : 503-646-6926
					Copyright.legal@nike.com
					
					6. PARTENAIRES SUR LA PLATEFORME
					
					De temps à autre, NIKE peut créer des liens ou s'associer à des sites Web tiers, des plateformes de réseaux sociaux, des applications mobiles et d'autres produits et services (« Tiers »). Vous pourrez peut-être vous connecter avec ces tiers via la Plateforme, mais cela ne signifie pas que NIKE approuve, surveille ou exerce un quelconque contrôle sur ces tiers ou leurs activités, qui sont soumis à des conditions d'utilisation et à des politiques de confidentialité distinctes. Vous devez examiner attentivement les sites, les conditions d'utilisation et la politique de confidentialité de tout tiers. NIKE n'est pas responsable du contenu, des politiques ou des activités des tiers et vous interagissez avec des tiers à vos propres risques.
					
					7. AVIS DE NON-RESPONSABILITÉ IMPORTANTS
					
					ACTIVITÉ PHYSIQUE. [Voir les conditions du Canada , de l'Allemagne et de l'Italie , car les exclusions et limitations suivantes peuvent ne pas s'appliquer à vous.] La Plateforme peut inclure des fonctionnalités qui favorisent l'activité physique, la nutrition ou le bien-être général. Ils sont uniquement destinés à votre information et ne constituent pas des conseils ou des services médicaux, ni à des fins de diagnostic ou de traitement.
					
					Tenez compte des risques encourus et consultez votre professionnel de la santé avant de vous lancer dans toute activité physique.
					Ne négligez jamais un avis médical professionnel et ne tardez jamais à le demander en raison de quelque chose que vous avez consulté sur la Plateforme.
					DANS LA MESURE MAXIMALE AUTORISÉE PAR LA LOI APPLICABLE, NIKE N'EST PAS RESPONSABLE DES BLESSURES OU DOMMAGES QUE VOUS POURRIEZ SUBIR QUI RÉSULTENT DE VOTRE UTILISATION OU DE VOTRE INCAPACITÉ D'UTILISER LES FONCTIONNALITÉS DE LA PLATEFORME.
					INTERACTIONS UTILISATEURS. Dans la mesure permise par la loi applicable, nous ne sommes pas responsables de vos interactions avec d'autres utilisateurs de la Plateforme ni de tout dommage ou préjudice que vous pourriez subir en raison de ces interactions. [Voir les termes italiens .]
					
					Soyez responsable et prenez des précautions lorsque vous interagissez avec d’autres utilisateurs (y compris des utilisateurs que vous ne connaissez pas) sur la Plateforme. Avant de rencontrer une autre personne en personne, pensez à enquêter, à amener un ami, à choisir des lieux publics et à faire savoir à quelqu'un où vous serez. NIKE n'est pas tenu de s'impliquer dans un litige entre utilisateurs, mais peut le faire à sa propre discrétion.
					DÉCLARATION DE GARANTIE. Certaines juridictions n'autorisent pas certaines limitations ou exclusions concernant les responsabilités, les garanties légales et les recours, de sorte que ces exclusions et limitations peuvent ne pas s'appliquer à vous. [Voir les termes de l'Australie , du Canada et de l'Allemagne .]
					
					La Plateforme, le Contenu ainsi que les éléments et produits de cette Plateforme sont fournis « TELS QUELS ». Nous ne faisons aucune promesse d'aucune sorte, y compris concernant l'exactitude, l'adéquation, l'utilité, la fiabilité ou autre de la Plateforme. DANS LA MESURE MAXIMALE AUTORISÉE PAR LA LOI APPLICABLE, NIKE N'EST PAS RESPONSABLE DE TOUT CONTENU UTILISATEUR PUBLIÉ SUR LA PLATEFORME. 
					NIKE ne garantit pas que la Plateforme fonctionnera sans interruption ou sans erreur, que tout défaut sera corrigé ou que la Plateforme est exempte de virus ou de tout autre élément nuisible.
					Dans toute la mesure permise par la loi, NIKE décline toute garantie, expresse ou implicite, concernant la Plateforme, le Contenu, le Contenu utilisateur et tout produit ou service que vous pouvez obtenir ou accéder via la Plateforme, y compris, mais sans s'y limiter, les garanties de titre implicites. , la qualité marchande, l'adéquation à un usage particulier et l'absence de contrefaçon.
					Vous êtes seul responsable de tout dommage causé à votre Appareil résultant de l’accès à la Plateforme, dans la mesure où la loi applicable n’en dispose pas autrement.
					Nous espérons que vous apprécierez et tirerez pleinement parti de la Plateforme ; cependant, nous ne garantissons aucun résultat.
					8. RÉSILIATION
					
					NIKE peut résilier ou modifier toute plateforme Nike, programme de membre, produit ou service à tout moment et sans préavis.
					
					NIKE peut résilier ou suspendre votre compte, supprimer votre profil ou tout contenu utilisateur et restreindre votre utilisation de tout ou partie de la Plateforme à tout moment et pour quelque raison que ce soit, sans aucune responsabilité envers Nike, sous réserve de la loi applicable. 
					
					Vous comprenez et acceptez qu'une partie de votre Contenu Utilisateur, notamment celui qui est affiché dans un fil d'activité ou dans d'autres lieux publics sur la Plateforme, peut continuer à apparaître publiquement même après la résiliation de votre compte, sous réserve de votre droit à ce que votre Contenu Utilisateur retiré sur demande conformément à la loi applicable.
					Ces Conditions restent en vigueur même après la résiliation de votre compte ou après que vous avez cessé d'utiliser la Plateforme.
					9. INDEMNISATION/LIMITATION DE RESPONSABILITÉ
					
					Nous souhaitons que vous profitiez de notre Plateforme, mais NIKE doit également se protéger de tout dommage que vous pourriez causer.
					
					Indemnisation et LIBÉRATION. Certaines juridictions n'autorisent pas certaines limitations ou exclusions concernant les responsabilités, les garanties légales et les recours, de sorte que ces limitations d'exclusions peuvent ne pas s'appliquer à vous. [Voir les conditions du Canada , de la France , de l'Allemagne  et de Hong Kong .] Vous acceptez d'indemniser, de défendre et de dégager NIKE Inc., ses sociétés affiliées, dirigeants, administrateurs, employés, agents, concédants de licence et fournisseurs (les « parties NIKE ») de et contre toutes réclamations, pertes, responsabilités, dépenses, dommages et coûts, y compris, sans limitation, les frais juridiques, découlant de ou liés de quelque manière que ce soit à votre contenu utilisateur, à votre utilisation du contenu, à votre utilisation de la plateforme, à votre conduite en relation avec la Plateforme ou avec d'autres utilisateurs de la Plateforme, ou toute violation des présentes Conditions d'utilisation, de toute loi ou des droits de tout tiers. Vous, pour vous-même et au nom de vos héritiers, successions, assureurs, successeurs et ayants droit, libérez et déchargez par la présente entièrement et pour toujours les parties NIKE de toute réclamation ou cause d'action que vous pourriez avoir pour des dommages liés de quelque manière que ce soit à votre utilisation. de la Plateforme.
					
					LIMITATION DE RESPONSABILITÉ. Certaines juridictions n'autorisent pas certaines limitations ou exclusions de responsabilités, garanties légales et recours, ces exclusions/limitations peuvent donc ne pas s'appliquer à vous. [Voir les conditions du Canada , de la France , de l'Allemagne , de Hong Kong et des Philippines .] AUCUNE DES PARTIES NIKE NE SERA RESPONSABLE DES DOMMAGES DIRECTS, SPÉCIAUX, ACCESSOIRES, INDIRECTS OU CONSÉCUTIFS, Y COMPRIS SANS LIMITATION POUR TOUTE PERTE DE PROFITS OU DE DONNÉES, RÉSULTANT DE L'UTILISATION OU L'INCAPACITÉ D'UTILISER LA PLATEFORME OU LES PERFORMANCES DES PRODUITS ACHETÉS VIA LA PLATEFORME OU LA CONDUITE D'AUTRES UTILISATEURS DE LA PLATEFORME (QUE CE SOIT EN LIGNE OU HORS LIGNE), OU LA PARTICIPATION À UN ÉVÉNEMENT NIKE OU À DES ÉVÉNEMENTS PARTENAIRES NIKE, OU À TOUT UTILISATEUR CONTENU OU TOUTE AUTRE ACTIVITÉ EN RELATION AVEC L'UTILISATION DE LA PLATEFORME, MÊME SI NIKE A ÉTÉ AVISÉ DE LA POSSIBILITÉ DE TELS DOMMAGES. VOUS ASSUMEZ L'ENTIÈRE RESPONSABILITÉ DE VOTRE UTILISATION DE LA PLATEFORME. VOTRE SEUL RECOURS CONTRE NIKE EN RELATION AVEC TOUT DOMMAGE RÉSULTANT DE VOTRE UTILISATION DE LA PLATEFORME OU DE TOUT CONTENU EST D'ARRÊTER D'UTILISER LA PLATEFORME. SI NIKE DEVAIT ÊTRE RESPONSABLE ENVERS VOUS DE TOUT DOMMAGE OU PERTE LIÉ DE QUELQUE MANIÈRE À VOTRE UTILISATION DE LA PLATEFORME OU DE TOUT CONTENU, LA RESPONSABILITÉ DE NIKE NE DÉPASSERA PAS 100,00 USD OU 100,00 EURO SI VOUS RÉSIDEZ EN EUROPE.
					
					10. LITIGES/CONDITIONS SUPPLÉMENTAIRES
					
					Choix de la loi/juridiction
					
					Si vous résidez dans l'un des pays suivants, des conditions différentes de « Choix de loi/juridiction » peuvent s'appliquer à vous : Argentine , Autriche , Brésil , Canada ,  France , Allemagne , Hong Kong ,  Italie , Philippines , Pologne , Suisse et tous les autres pays. pays européens .
					
					Vous acceptez que cette plateforme est une plateforme passive uniquement basée dans l'Oregon, aux États-Unis, qui ne donne pas lieu à une juridiction personnelle sur NIKE dans des juridictions autres que l'Oregon.
					Vous acceptez que la Plateforme, les Conditions, la Politique de confidentialité et tout litige entre vous et NIKE seront régis à tous égards par la loi de l'Oregon, sans égard aux dispositions relatives au choix de la loi, et non par la Convention des Nations Unies de 1980 sur les contrats de vente internationale de marchandises. .
					Sauf là où la loi applicable l'interdit, et sans limitation des droits statutaires des consommateurs, vous acceptez que tous les litiges, réclamations et procédures judiciaires découlant directement ou indirectement de ou liés à la Plateforme (y compris, mais sans s'y limiter, l'achat de produits NIKE) sera résolu individuellement, sans recours à aucune forme de recours collectif, et exclusivement devant les tribunaux d'État ou fédéraux situés dans le comté de Multnomah, Oregon, États-Unis.
					Vous consentez à renoncer à toutes les défenses de « manque de compétence personnelle » et de « forum gênant » en ce qui concerne le lieu et la compétence des tribunaux d'État et fédéraux du comté de Multnomah, Oregon.
					Toutes les réclamations doivent être déposées dans un délai d'un (1) an après la survenance de la réclamation, sauf dans la mesure où un délai plus long est requis par la loi applicable.
					Communications électroniques
					
					En utilisant la Plateforme, vous acceptez de recevoir certaines communications électroniques de NIKE, sous réserve de la loi applicable.
					Vous acceptez que tout avis, accord, divulgation ou autre communication que NIKE vous envoie par voie électronique satisfera à toutes les exigences légales en matière de communication, y compris que ces communications soient écrites.
					Droit de cession, aucune renonciation, divisibilité
					
					NIKE peut céder ses droits et obligations en vertu des présentes Conditions à toute partie à tout moment et sans préavis, à moins qu'un préavis ne soit requis par la loi applicable, mais cela n'affectera pas vos droits ou nos obligations en vertu des présentes Conditions.
					Le fait que NIKE n'insiste pas ou n'impose pas le strict respect des présentes Conditions ne constitue pas une renonciation à l'une de ces Conditions ou aux droits de NIKE. Les utilisateurs doivent toujours supposer que ces conditions s'appliquent.
					Si une disposition des présentes Conditions est jugée invalide ou inapplicable, le reste des présentes Conditions continuera à être applicable.
					Merci d'avoir lu. Profitez de notre communauté !
					
					CONDITIONS SPÉCIFIQUES AU PAYS/RÉGION
					
					Si vous résidez dans l'un des pays suivants, ces conditions supplémentaires s'appliquent et remplacent toute condition incohérente dans les conditions d'utilisation.
					
					ARGENTINE
					
					Section 3 (Publication de CONTENU SUR LA PLATEFORME) : le premier paragraphe de la sous-section « LICENCE DE CONTENU UTILISATEUR » est supprimé et remplacé par ce qui suit :
					
					« Vous accordez à NIKE une licence mondiale non exclusive, transférable, libre de redevances pour afficher le contenu utilisateur que vous publiez sur ou en relation avec la plateforme et pour le partager avec d'autres utilisateurs, y compris le droit de traduire, d'afficher, de reproduire, modifier, créer des œuvres dérivées, accorder des sous-licences et distribuer le contenu utilisateur.
					
					Par exemple, nous avons besoin de ces droits pour pouvoir copier votre contenu utilisateur dans nos bases de données, l'afficher dans le format correct sur nos applications mobiles et envoyer votre contenu utilisateur aux fournisseurs qui fournissent des services au nom de Nike.
					
					Article 10 (LITIGES/CONDITIONS SUPPLÉMENTAIRES) : cet article est modifié comme suit :
					
					La sous-section intitulée « CHOIX DE LOI/JURIDICTION » est par la présente supprimée et remplacée par ce qui suit (à l'exception du dernier point concernant l'introduction de réclamations, qui reste inchangé) :
					
					« Choix de la loi/juridiction
					
					Vous acceptez que la plateforme, les conditions, la politique de confidentialité et tout litige entre vous et NIKE soient régis à tous égards par la loi argentine.
					AUSTRALIE
					
					Article 7 (AVIS DE NON-RESPONSABILITÉ IMPORTANTS) : cet article est modifié comme suit :
					
					La sous-section intitulée « EXCLUSION DE GARANTIE » est modifiée en ajoutant ce qui suit :
					
					«Cependant, la Plateforme, le Contenu, ainsi que les matériaux et produits de cette Plateforme, sont assortis de certaines garanties qui ne peuvent être exclues au profit des clients australiens en vertu de la loi australienne sur la consommation (« ACL »), y compris des garanties quant à la qualité et à l'adéquation acceptables. de la destination des produits. Rien dans les présentes Conditions ne sera lu ou appliqué de manière à exclure, restreindre ou modifier ou avoir pour effet d'exclure, de restreindre ou de modifier toute condition, garantie, droit ou recours implicite par l'ACL et qui, par la loi, ne peut être exclu, restreint. ou modifié, même si tout autre terme des présentes Conditions suggérerait que cela pourrait être le cas.
					
					BRÉSIL
					
					Article 10 (LITIGES/CONDITIONS SUPPLÉMENTAIRES) : cet article est modifié comme suit :
					
					La sous-section intitulée « CHOIX DE LOI/JURIDICTION » est supprimée et remplacée par ce qui suit :
					
					« Choix de la loi/juridiction
					
					Vous acceptez que la Plateforme, les Conditions, la Politique de confidentialité et tout litige entre vous et NIKE seront régis à tous égards par la loi brésilienne, sans égard aux dispositions relatives au choix de la loi, et non par la Convention des Nations Unies de 1980 sur les contrats de vente internationale de marchandises. .
					Sauf là où cela est interdit, vous acceptez que tous les litiges, réclamations et procédures judiciaires découlant directement ou indirectement de ou liés à la Plateforme (y compris, mais sans s'y limiter, l'achat de produits NIKE) soient résolus individuellement, sans recourir à aucune forme de recours collectif. , et exclusivement au Brésil.
					CANADA
					
					Paragraphe d'introduction:
					
					La section intitulée « Nos conditions peuvent changer » est qualifiée par ce qui suit :
					
					« (a) Nike doit vous adresser, au moins 30 jours avant l'entrée en vigueur de l'amendement, un avis écrit rédigé de manière claire et lisible, précisant la nouvelle clause et la date d'entrée en vigueur de l'amendement ; et
					
					(b) vous pouvez refuser la modification et annuler ou, dans le cas d'un contrat impliquant une exécution successive, annuler le contrat sans frais, pénalité ou indemnité d'annulation en envoyant à Nike un avis à cet effet au plus tard 30 jours après l'entrée en vigueur de la modification. en vigueur, si la modification entraîne une augmentation de vos obligations ou une réduction des obligations de Nike.
					
					SECTIONS MULTIPLES : Les termes énoncés dans les sections intitulées « Activité physique », « Exclusion de garantie », « Indemnisation/Limitation de responsabilité » et « Limitation de responsabilité » sont qualifiés par ce qui suit :
					
					« Les lois sur la protection des consommateurs dans certaines juridictions, dont le Québec, ne permettent pas les limitations et exclusions de garanties sur les produits achetés. Si ces lois s'appliquent à vous, les exclusions ou limitations des sections suivantes peuvent ne pas s'appliquer : Activité physique, Exonération de garantie, Indemnisation/Limitation de responsabilité et Limitation de responsabilité.
					
					SECTION 10 (LITIGES/CONDITIONS SUPPLÉMENTAIRES) : cette section est modifiée comme suit :
					
					La sous-section intitulée « CHOIX DE LOI/JURIDICTION » est modifiée en ajoutant ce qui suit au début de la section :
					
					« Les lois sur la protection des consommateurs dans certaines juridictions, comme le Québec, peuvent exiger que votre accord soit régi par les lois de votre juridiction et entendu par les tribunaux compétents de votre juridiction. De plus, ces lois peuvent ne pas vous permettre de renoncer à votre droit de participer à un recours collectif ou de limiter votre délai pour entamer une procédure judiciaire. Si ces lois s'appliquent à vous, les limitations suivantes peuvent ne pas s'appliquer."
					
					 
					
					COLOMBIE
					
					Section 3 (Publication de CONTENUS SUR LA PLATEFORME) : la sous-section intitulée « LICENCE DE CONTENU UTILISATEUR » est modifiée comme suit :
					
					Le premier paragraphe sous LICENCE DE CONTENU UTILISATEUR est supprimé et remplacé par ce qui suit :
					
					« Vous accordez à NIKE une licence mondiale non exclusive, indéfinie, transférable, pouvant faire l'objet d'une sous-licence, libre de droits et pour utiliser tout contenu utilisateur que vous publiez sur ou en relation avec la plate-forme, y compris l'image de toute personne qui apparaît dans le contenu utilisateur, ou l'un des concepts ou idées contenus dans le contenu utilisateur, à quelque fin que ce soit, y compris une utilisation commerciale, qui inclut le droit de traduire, d'afficher, de reproduire, de modifier, de créer des œuvres dérivées, de concéder des sous-licences, de distribuer et de céder ces droits. »
					
					Section 3 (Publication de contenu sur la plateforme) : la sous-section intitulée « LICENCE D'UTILISATION DE COMMENTAIRES, RÉTROACTIONS ET IDÉES » est supprimée dans son intégralité et remplacée par ce qui suit :
					
					« AUTORISATION D’UTILISER DES COMMENTAIRES, DES RÉTROACTIONS ET DES IDÉES. Vous accordez à NIKE une autorisation indéfinie et mondiale d'utiliser tous les commentaires, réactions et idées que vous pouvez partager avec nous, sans préavis, compensation ou reconnaissance, à quelque fin que ce soit, y compris, mais sans s'y limiter, le développement, la fabrication et la commercialisation de produits. et services et créer, modifier ou améliorer des produits et services.
					
					HONG KONG
					
					Nike, Inc., une entité enregistrée dans l'État de l'Oregon, aux États-Unis et dont l'adresse est située One Bowerman Drive, Beaverton, OR 97005, États-Unis) est : (1) l'opérateur et le gestionnaire des applications NRC et NTC, et (2) ) notre entité contractante pour ces Conditions avec vous.
					
					Section 9 (INDEMNIFICATION / LIMITATION DE RESPONSABILITÉ) : Cette section est supprimée et remplacée par ce qui suit :
					
					"Indemnisation et décharge. Vous acceptez d'indemniser, de défendre et de dégager NIKE Inc., ses sociétés affiliées, dirigeants, administrateurs, employés, agents, concédants de licence et fournisseurs (les "parties NIKE") de et contre toutes réclamations, pertes, responsabilités, les dépenses, dommages et coûts (y compris les honoraires d'avocat), découlant de ou liés de quelque manière que ce soit à votre Contenu utilisateur, à votre utilisation du Contenu, à votre utilisation de la Plateforme, à votre conduite en relation avec la Plateforme ou avec d'autres utilisateurs de la Plateforme, ou à tout autre violation des présentes Conditions, de toute loi ou des droits de tout tiers. 
					
					Limitation de responsabilité. Sauf dans la mesure permise par les lois applicables, vous acceptez :
					
					qu'aucune des parties NIKE ne sera responsable des dommages spéciaux, accessoires ou consécutifs (y compris toute perte de bénéfices ou de données) résultant de l'utilisation ou de l'incapacité d'utiliser la Plateforme ou de la performance des produits achetés via le Plateforme ou le comportement d'autres utilisateurs de la plateforme (que ce soit en ligne ou hors ligne), ou la participation à un événement NIKE ou à des événements partenaires de NIKE, ou tout contenu utilisateur ou toute autre activité en relation avec l'utilisation de la plateforme, même si NIKE en a été informé. la possibilité de tels dommages ;
					vous assumez l'entière responsabilité de votre utilisation de la Plateforme ; et
					si NIKE est jugé responsable envers vous de tout dommage ou perte lié de quelque manière que ce soit à votre utilisation de la Plateforme ou de tout Contenu, la responsabilité de NIKE ne dépassera pas le plus élevé des montants suivants : (1) le montant que vous nous avez payé au titre ces Conditions pour votre utilisation de la Plateforme ou de tout Contenu, ou (2) 100,00 $ US.
					Section 10 (LITIGES/CONDITIONS SUPPLÉMENTAIRES) : Le premier point de la sous-section intitulée « CHOIX DE LA LOI/JURIDICTION » est supprimé dans son intégralité.
					
					JAPON
					
					Article 9 (INDEMNIFICATION/LIMITATION DE RESPONSABILITÉ) : cet article est modifié comme suit :
					
					La sous-section intitulée « LIMITATION DE RESPONSABILITÉ » est supprimée dans son intégralité et remplacée par le suivant :
					
					LIMITATION DE RESPONSABILITÉ. AUCUNE DES PARTIES NIKE NE SERA RESPONSABLE DES DOMMAGES SPÉCIAUX, ACCESSOIRES, INDIRECTS OU CONSÉCUTIFS, Y COMPRIS, SANS LIMITATION, DE TOUTE PERTE DE PROFITS OU DE DONNÉES, RÉSULTANT DE L'UTILISATION OU DE L'INCAPACITÉ À UTILISER LA PLATEFORME OU LES PERFORMANCES DU PRODUITS ACHETÉS VIA LA PLATEFORME OU LA CONDUITE D'AUTRES UTILISATEURS DE LA PLATEFORME (QUE CE SOIT EN LIGNE OU HORS LIGNE), OU LA PARTICIPATION À UN ÉVÉNEMENT NIKE OU À DES ÉVÉNEMENTS PARTENAIRES NIKE, OU TOUT CONTENU UTILISATEUR OU TOUTE AUTRE ACTIVITÉ EN RELATION AVEC L'UTILISATION DE LA PLATEFORME, MÊME SI NIKE A ÉTÉ AVISÉ DE LA POSSIBILITÉ DE TELS DOMMAGES. VOUS ASSUMEZ L'ENTIÈRE RESPONSABILITÉ DE VOTRE UTILISATION DE LA PLATEFORME. VOTRE SEUL RECOURS CONTRE NIKE EN RELATION AVEC TOUT DOMMAGE RÉSULTANT DE VOTRE UTILISATION DE LA PLATEFORME OU DE TOUT CONTENU EST D'ARRÊTER D'UTILISER LA PLATEFORME. SI NIKE DEVAIT ÊTRE RESPONSABLE ENVERS VOUS DE TOUT DOMMAGE OU PERTE LIÉ DE QUELQUE MANIÈRE À VOTRE UTILISATION DE LA PLATEFORME OU DE TOUT CONTENU, LA RESPONSABILITÉ DE NIKE NE DÉPASSERA PAS 100,00 USD OU 100,00 EURO SI VOUS RÉSIDEZ EN EUROPE.
					
					Article 10 (LITIGES/CONDITIONS SUPPLÉMENTAIRES) : cet article est modifié comme suit :
					
					La sous-section intitulée « CHOIX DE LOI/JURIDICTION » est supprimée dans son intégralité et remplacée par ce qui suit :
					
					« Choix de la loi/juridiction
					
					Vous acceptez que la Plateforme, les Conditions, la Politique de confidentialité et tout litige entre vous et NIKE seront régis à tous égards par la loi japonaise, sans égard aux dispositions relatives au choix de la loi, et non par la Convention des Nations Unies de 1980 sur les contrats de vente internationale de marchandises. .
					Sauf là où la loi applicable l'interdit, et sans limitation des droits statutaires des consommateurs, vous acceptez que tous les litiges, réclamations et procédures judiciaires découlant directement ou indirectement de ou liés à la Plateforme (y compris, mais sans s'y limiter, l'achat de produits NIKE) sera résolu individuellement, sans recours à aucune forme de recours collectif, et exclusivement devant les tribunaux situés à Tokyo, au Japon.
					Toutes les réclamations doivent être déposées dans un délai d'un (1) an après la survenance de la réclamation, sauf dans la mesure où un délai plus long est requis par la loi applicable.
					CORÉE
					Les conditions suivantes du fournisseur de services géolocalisés s'appliquent à votre utilisation et à votre accès à l'application Nike Running Club et à l'application Nike Training Club : conditions du fournisseur de services géolocalisés. En cas de conflit entre les conditions du fournisseur de services géolocalisés et les présentes Conditions, les présentes Conditions prévaudront.
					PHILIPPINES
					
					Section 2 (PROPRIÉTÉ DU CONTENU) : Le troisième point de cette section est révisé comme suit :
					
					Dans la mesure où NIKE approuve le téléchargement ou l'utilisation de contenu composé de droits d'auteur ou d'œuvres protégées par le droit d'auteur, NIKE vous accorde un droit limité, personnel, non transférable et non cessible d'accéder et d'utiliser ces droits d'auteur ou ces œuvres protégées par le droit d'auteur uniquement aux fins prévues et uniquement aussi longtemps que NIKE met ce contenu à la disposition générale du public. Vous n'acquérez aucun droit de propriété ni aucune forme de licence sur le contenu (y compris les marques commerciales ou autres propriétés intellectuelles incluses dans le contenu), et tout ce contenu est destiné à un usage personnel et non commercial. NIKE se réserve le droit de surveiller votre utilisation et de modifier ou de révoquer celle-ci ou votre accès au Contenu à tout moment et pour quelque raison que ce soit. NIKE se réserve le droit de supprimer tout contenu en violation des présentes conditions ou des droits de propriété intellectuelle de NIKE. NIKE vous autorisant cette utilisation limitée ne constitue pas une renonciation à l'un quelconque des droits de Nike sur le Contenu.
					Section 3 (AFFICHAGE DU CONTENU DE LA PLATEFORME) : Cette section est révisée comme suit :
					
					Licence de contenu utilisateur . Certaines parties de la Plateforme vous permettent de publier des photos, des vidéos, des commentaires et d'autres contenus, que nous appelons « Contenu utilisateur ». Nike n'est pas responsable du contenu utilisateur que d'autres publient sur la plateforme. Le contenu utilisateur appartient à vous ou à celui qui l'a créé, mais lorsque vous publiez du contenu utilisateur, vous acceptez ce qui suit :
					
					Vous déclarez que vous avez le droit de publier votre contenu utilisateur et vous acceptez de signer tous les documents pertinents pour accorder à NIKE une licence mondiale non exclusive, perpétuelle, transférable, sous-licenciable, libre de redevances pour utiliser tout contenu utilisateur. que vous publiez sur ou en relation avec la Plateforme, y compris l'image de toute personne apparaissant dans le Contenu utilisateur, ou l'un des concepts ou idées contenus dans le Contenu utilisateur, à quelque fin que ce soit, y compris un usage commercial, qui inclut le droit de traduire, afficher, reproduire, modifier, créer des œuvres dérivées, accorder des sous-licences, distribuer et céder ces droits. NIKE peut, à sa seule discrétion, supprimer tout contenu utilisateur à tout moment.
					Vous comprenez que le Contenu utilisateur supprimé peut persister dans les systèmes de NIKE et sur la Plateforme dans la mesure où votre Contenu utilisateur a été publié publiquement ou partagé avec d'autres qui ne l'ont pas supprimé, à moins que vous ou la personne concernée ne demandiez la suppression ou le blocage des données personnelles conformément avec la loi applicable.
					Section 9 (INDEMNIFICATION/LIMITATION DE RESPONSABILITÉ) : La sous-section intitulée « LIMITATION DE RESPONSABILITÉ » est supprimée et remplacée par ce qui suit :
					
					"Dans la mesure permise par la loi applicable, aucune des parties NIKE ne sera responsable de tout dommage spécial, accidentel ou consécutif, y compris, sans limitation, de toute perte de profits ou de données, résultant de l'utilisation ou de l'impossibilité d'utiliser, la Plateforme ou les performances des produits achetés via la Plateforme ou la conduite d'autres Utilisateurs de la Plateforme (que ce soit en ligne ou hors ligne), ou la participation à un événement NIKE ou à des événements partenaires NIKE, ou tout Contenu Utilisateur ou toute autre activité en relation avec l'utilisation de la Plateforme, même si NIKE a été informé de la possibilité de tels dommages. Si NIKE est jugé responsable envers vous de tout dommage ou perte lié de quelque manière que ce soit à votre utilisation de la Plateforme ou de tout Contenu, la responsabilité de NIKE sera ne doit pas dépasser 100,00 USD ou 100,00 euros si vous résidez en Europe, sans préjudice de toute loi applicable."
					
					Section 10 (LITIGES/CONDITIONS SUPPLÉMENTAIRES) : Le premier point de la sous-section intitulée « CHOIX DE LA LOI/JURIDICTION » est supprimé dans son intégralité.
					
					PAYS EUROPÉENS
					
					Les révisions suivantes s'appliquent à tous les pays européens, à l'exception de l'Autriche, de la France, de l'Allemagne, de l'Italie, de la Pologne et de la Suisse, qui ont d'autres révisions spécifiques de ces termes applicables aux pays européens.
					
					Article 10 (LITIGES/CONDITIONS SUPPLÉMENTAIRES) : cet article est modifié comme suit :
					
					La sous-section intitulée « CHOIX DE LOI/JURIDICTION » est supprimée dans son intégralité et remplacée par ce qui suit (à l'exception du dernier point concernant l'introduction de réclamations, qui reste inchangé) :
					
					« Choix de la loi/juridiction
					
					Vous acceptez que la Plateforme, les Conditions et tout litige entre vous et NIKE seront régis à tous égards par le droit néerlandais, sans égard aux dispositions relatives au choix de la loi, et non par la Convention des Nations Unies de 1980 sur les contrats de vente internationale de marchandises.
					Sauf là où cela est interdit et sans limitation des droits légaux des consommateurs, vous acceptez que tous les litiges, réclamations et procédures judiciaires découlant directement ou indirectement de ou liés à la Plateforme (y compris, mais sans s'y limiter, l'achat de produits NIKE) soient résolus et exclusivement devant les tribunaux compétents d’Amsterdam, aux Pays-Bas.
					L'AUTRICHE
					
					Section 10 (LITIGES/CONDITIONS SUPPLÉMENTAIRES) : cette section est remplacée par la version pour les pays européens ci-dessous, sauf que ce qui suit est ajouté à la fin :
					
					"Toutes les réclamations doivent être déposées dans un délai de trois (3) ans après la survenance de la réclamation."
					
					BELGIQUE
					
					Section 3 (AFFICHAGE DE CONTENU SUR LA PLATEFORME) : cette section est modifiée comme suit :
					
					Le premier paragraphe sous la sous-section intitulée « LICENCE DE CONTENU UTILISATEUR » est supprimé dans son intégralité et remplacé par ce qui suit :
					
					« Vous accordez à NIKE une licence non exclusive, perpétuelle (ou au moins pour la durée de la protection juridique des droits de propriété intellectuelle/droits à l'image pouvant résider dans le Contenu Utilisateur), transférable, sous-licenciable, libre de droits et mondiale. utiliser tout contenu utilisateur que vous publiez sur ou en relation avec la plate-forme, y compris l'image de toute personne apparaissant dans le contenu utilisateur, ou l'un des concepts ou idées contenus dans le contenu utilisateur, à quelque fin que ce soit, y compris commerciale , utilisation promotionnelle et opérationnelle, qui inclut le droit de traduire, d’afficher, de reproduire, de modifier, de créer des œuvres dérivées, de concéder en sous-licence, de distribuer et de céder ces droits.
					
					La sous-section intitulée « LICENCE D'UTILISATION DES COMMENTAIRES, RÉTROACTIONS ET IDÉES » est supprimée dans son intégralité et remplacée par ce qui suit :
					
					« LICENCE D'UTILISATION DE COMMENTAIRES, RÉTROACTIONS ET IDÉES . Vous accordez à NIKE une licence perpétuelle (ou au moins pour la durée de la protection juridique des droits de propriété intellectuelle/droits à l'image pouvant résider dans les commentaires, retours et idées) et mondiale pour utiliser tous les commentaires, retours et idées que vous pourriez partager. avec nous, sans préavis, compensation ou reconnaissance de votre part, à quelque fin que ce soit, y compris, mais sans s'y limiter, le développement, la fabrication et la commercialisation de produits et services et la création, la modification ou l'amélioration de produits et services.
					
					FRANCE
					
					Article 5 (VIOLATION DU DROIT D'AUTEUR) : le deuxième paragraphe de cet article est supprimé dans son intégralité et remplacé par le suivant :
					
					« Si vous pensez que votre travail a été copié de manière inappropriée sur la Plateforme, de telle sorte qu'il constitue une contrefaçon, veuillez nous fournir les informations suivantes :
					
					(1) date de la notification ;
					
					(2) si le demandeur est une personne physique : nom, prénom, profession, adresse, nationalité, lieu et date de naissance ;
					
					(3) si le demandeur est une personne morale : dénomination, forme, siège social et entité qui la représente juridiquement ;
					
					(4) le nom et l'adresse du destinataire, ou s'il s'agit d'une personne morale, sa dénomination et son siège social ;
					
					(5) une description des faits en cause et le lieu précis;
					
					(6) les motifs pour lesquels le contenu doit être retiré, y compris les dispositions légales pertinentes et la justification des faits ; et
					
					7° une copie de la correspondance adressée à l'auteur ou à l'éditeur de l'information ou de l'activité litigieuse demandant leur interruption, leur retrait ou leur modification ou une explication selon laquelle l'auteur ou l'éditeur n'a pu être contacté.
					
					Article 9 (INDEMNIFICATION/RESPONSABILITÉ) : cet article est modifié comme suit :
					
					La sous-section intitulée « Indemnisation et quittance » est supprimée dans son intégralité et remplacée par ce qui suit :
					
					"Indemnité. Vous acceptez d'indemniser, de défendre et de dégager NIKE Inc., ses sociétés affiliées, dirigeants, administrateurs, employés, agents, concédants de licence et fournisseurs (les « parties NIKE ») de et contre toutes réclamations, pertes, responsabilités, dépenses, dommages et coûts. , y compris, sans s'y limiter, les frais juridiques, découlant de ou liés de quelque manière que ce soit à votre Contenu utilisateur, à votre utilisation du Contenu, à votre utilisation de la Plateforme, à votre conduite en relation avec la Plateforme ou avec d'autres utilisateurs de la Plateforme, ou à toute violation de ces présentes. Conditions d’utilisation, toute loi ou droits de tout tiers.
					
					La sous-section intitulée « LIMITATION DE RESPONSABILITÉ » est supprimée dans son intégralité.
					
					Article 10 (LITIGES/CONDITIONS SUPPLÉMENTAIRES) : la sous-section intitulée « CHOIX DE LOI/JURIDICTION » est supprimée dans son intégralité et remplacée par ce qui suit :
					
					« Choix de la loi/juridiction
					
					Rien dans ce paragraphe ne doit vous priver de la protection accordée aux consommateurs par les règles impératives de la loi du pays dans lequel vous résidez.
					
					Vous acceptez que la Plateforme, les Conditions et tout litige entre vous et NIKE seront régis à tous égards par le droit néerlandais, sans égard aux dispositions relatives au choix de la loi, et non par la Convention des Nations Unies de 1980 sur les contrats de vente internationale de marchandises.
					Sauf là où cela est interdit et sans limitation des droits légaux des consommateurs, vous acceptez que tous les litiges, réclamations et procédures judiciaires découlant directement ou indirectement de ou liés à la Plateforme (y compris, mais sans s'y limiter, l'achat de produits NIKE) soient résolus et exclusivement devant les tribunaux compétents d'Amsterdam, aux Pays-Bas.
					Si vous avez une plainte, veuillez nous contacter . Si vous estimez que votre plainte n'a pas été traitée de manière adéquate, vous pouvez – sans y être obligé – utiliser la plateforme de règlement des litiges en ligne (ODR) à laquelle vous pouvez accéder via http://ec.europa.eu/odr . Par ailleurs, vous avez le droit d'engager une procédure de médiation en contactant le(s) médiateur(s) comme suit : Association des médiateurs européens (197, Boulevard Saint-Germain, 75007 PARIS, téléphone : 09 53 01 02 69), http:// www.mediationconso-ame.com/ . Le ou les médiateurs tenteront, de manière indépendante et impartiale, de parvenir à une résolution amiable du différend. En cas de médiation, chaque partie est libre d'accepter ou de refuser la solution proposée par le médiateur.
					ALLEMAGNE
					
					Article 7 (AVIS DE NON-RESPONSABILITÉ IMPORTANTS) : cet article est modifié comme suit :
					
					Le troisième point de la zone de résumé est supprimé dans son intégralité et remplacé par le suivant :
					
					« NIKE n'est responsable d'aucun dommage (à l'exception de la responsabilité pour les actes délibérés et de négligence grave de NIKE et les blessures corporelles de NIKE) causés par vos interactions avec d'autres utilisateurs. Soyez responsable et prenez des précautions lorsque vous interagissez avec des personnes que vous ne connaissez pas.
					
					Le dernier paragraphe sous la sous-section intitulée « ACTIVITÉ PHYSIQUE » est supprimé dans son intégralité et remplacé par ce qui suit :
					
					« Dans toute la mesure permise par la loi applicable, NIKE n'est pas responsable de tout dommage (à l'exception de la responsabilité pour les actes délibérés et de négligence grave de NIKE et les blessures corporelles de NIKE) que vous pourriez subir en raison de votre utilisation ou de votre incapacité à utiliser le Plate-forme."
					
					La sous-section intitulée « EXCLUSION DE GARANTIE », y compris tous les points qu'elle contient, est supprimée dans son intégralité.
					
					Article 9 (INDEMNIFICATION/LIMITATION DE RESPONSABILITÉ) : cet article est modifié comme suit :
					
					La sous-section intitulée « INDEMNISATION ET LIBÉRATION » est supprimée dans son intégralité.
					
					La sous-section intitulée « LIMITATION DE RESPONSABILITÉ » est supprimée dans son intégralité et remplacée par le suivant :
					
					"LIMITATION DE RESPONSABILITÉ. Toute responsabilité de NIKE et de ses sociétés affiliées, ainsi que de leurs dirigeants, administrateurs, actionnaires, employés et agents (les « parties exonérées ») est limitée aux cas d'intention ou de négligence grave. En cas de négligence légère, les parties libérées ne sont responsables que s'il s'agit d'une obligation contractuelle essentielle, dont la violation met en danger l'objet du contrat ou dont l'exécution est requise pour atteindre cet objectif et dans l'exécution de laquelle le consommateur a confiance (appelées « obligations cardinales »). a été violé. Dans ce cas, la responsabilité est limitée aux dommages typiques et prévisibles. Cette limitation de responsabilité ne s'applique pas aux réclamations en vertu de la loi sur la responsabilité du fait des produits et en cas de blessures corporelles ou de décès.
					
					Section 10 (LITIGES/CONDITIONS SUPPLÉMENTAIRES) : cette section est remplacée par la version pour les pays européens ci-dessus, sauf que ce qui suit est ajouté à la fin :
					
					«Toutes les réclamations doivent être déposées dans un délai de deux (2) ans après la survenance de la réclamation.»
					
					HONGRIE
					
					Paragraphes d'introduction : Le deuxième point de la première section ci-dessus intitulé « Conditions de vente » est modifié par l'ajout de ce qui suit :
					
					"Ces conditions constituent un accord implicite entre vous et NIKE, à moins qu'elles ne répondent aux exigences des accords écrits en vertu de la loi hongroise."
					
					ITALIE
					
					Article 7 (AVIS DE NON-RESPONSABILITÉ IMPORTANTS) : cet article est modifié comme suit :
					
					Le dernier paragraphe sous la sous-section intitulée « ACTIVITÉ PHYSIQUE » est supprimé dans son intégralité et remplacé par ce qui suit :
					
					« Dans toute la mesure permise par la loi applicable, NIKE n'est pas responsable de tout dommage que vous pourriez subir et résultant de votre utilisation ou de votre incapacité à utiliser les fonctionnalités de la Plateforme, sauf en cas de fraude ou de négligence grave de la part de NIKE. Nike. »
					
					La sous-section intitulée « INTERACTIONS UTILISATEURS » est supprimée dans son intégralité et remplacée par ce qui suit :
					
					« INTERACTIONS UTILISATEURS. Nous ne sommes pas responsables de vos interactions avec d'autres utilisateurs de la Plateforme ni de tout dommage ou préjudice que vous pourriez subir du fait de ces interactions, sauf en cas de fraude ou de négligence grave de la part de Nike.
					
					Soyez responsable et prenez des précautions lorsque vous interagissez avec d’autres utilisateurs (y compris des utilisateurs que vous ne connaissez pas) sur la Plateforme. Avant de rencontrer une autre personne en personne, pensez à enquêter, à amener un ami, à choisir des lieux publics et à faire savoir à quelqu'un où vous serez. NIKE n'est pas tenu de s'impliquer dans un litige entre utilisateurs (mais peut le faire à sa propre discrétion), sauf en cas de fraude ou de négligence grave de la part de Nike.
					
					Section 10 (LITIGES/CONDITIONS SUPPLÉMENTAIRES) : la sous-section intitulée « CHOIX DE LOI/JURIDICTION » est supprimée dans son intégralité et remplacée par le suivant (à l'exception du dernier point concernant l'introduction de réclamations, qui reste inchangé) :
					
					« Choix de la loi/juridiction
					
					Vous acceptez que la Plateforme, les Conditions et tout litige entre vous et NIKE seront régis à tous égards par le droit néerlandais, sans égard aux dispositions relatives au choix de la loi, et non par la Convention des Nations Unies de 1980 sur les contrats de vente internationale de marchandises, sous réserve à toutes dispositions légales du droit applicable qui peuvent s'appliquer quel que soit tout choix de loi différent.
					Sauf là où cela est interdit et sans limitation des droits légaux des consommateurs, vous acceptez que tous les litiges, réclamations et procédures judiciaires découlant directement ou indirectement de ou liés à la Plateforme (y compris, mais sans s'y limiter, l'achat de produits NIKE) soient résolus et exclusivement devant le tribunal du lieu où vous résidez ou êtes domicilié.
					POLOGNE
					
					Section 10 (LITIGES/CONDITIONS SUPPLÉMENTAIRES) : la sous-section intitulée « CHOIX DE LOI/JURIDICTION » est supprimée dans son intégralité et remplacée par le suivant (à l'exception du dernier point concernant l'introduction de réclamations, qui reste inchangé) :
					
					« Choix de la loi/juridiction
					
					La Plateforme, les Conditions et tout litige entre vous et NIKE seront régis à tous égards par la loi polonaise.
					Tous les litiges, réclamations et procédures judiciaires découlant directement ou indirectement de ou liés à la Plateforme (y compris, mais sans s'y limiter, l'achat de produits NIKE) seront résolus devant les tribunaux compétents en vertu de la loi applicable.
					SUISSE
					
					Section 10 (LITIGES/CONDITIONS SUPPLÉMENTAIRES) : la sous-section intitulée « CHOIX DE LOI/JURIDICTION » est supprimée dans son intégralité et remplacée par le suivant (à l'exception du dernier point concernant l'introduction de réclamations, qui reste inchangé) :
					
					« CHOIX DE LOI/JURIDICTION
					
					Vous acceptez que la Plateforme, les Conditions et tout litige entre vous et NIKE seront régis à tous égards par le droit matériel de la Suisse, sans égard aux dispositions internationales relatives aux conflits de lois, et à l'exclusion de la Convention des Nations Unies de 1980 sur les contrats de la vente internationale de marchandises.
					Vous acceptez que tous les litiges découlant directement ou indirectement de ou en relation avec la Plateforme et les présentes Conditions d'utilisation seront soumis à la juridiction exclusive des tribunaux compétents de la ville de Zurich, en Suisse.
				</p>
			</div>
		</div>
	</div>

{% include 'footer/_footer.html.twig' %}
{% endblock %}
